header{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #707070;
    height: 300px;
    padding: 50px;
    color: white;
}

.botao{
    margin: 20px;
}
